# LangSmith Configuration
LANGSMITH_API_KEY=your key
LANGSMITH_PROJECT=RAGWire
LANGSMITH_ENDPOINT=https://api.smith.langchain.com/
LANGCHAIN_TRACING_V2=true
GOOGLE_API_KEY=your key if needed
OPENAI_API_KEY=your key if needed
GROQ_API_KEY=your key if needed